# Eclipse
/.classpath
/.project
/.settings/**

# VS Code
.vscode/
*.code-workspace

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Output files
/out/
/output/
/bin/
/build/

# Test results
/test-results/
/test-output/
